#countdown-container {
  text-align: center;
  margin-bottom: 20px;
}

.countdown-item {
  display: inline-block;
  margin: 0 10px;
}

.countdown-item span {
  font-size: 2rem;
  font-weight: bold;
}

.countdown-item label {
  font-size: 1rem;
  color: #bbb;
}